<h3>Url Info</h3>

<table>
  <tr>
    <th>Original Url</th>
    <th>Short Url</th>
    <th>IP Address</th>
    <th>Count</th>
  </tr>
  <% @visitor.each do |f| %>
  <tr>
    <td><%= @long_to_short_url.original_url %></td>
    <td><%= link_to @long_to_short_url.short_url, long_to_short_url_path(@long_to_short_url) %></td>
    <td><%= f.ip_address %></td>
    <td><%= f.counter %></td>
  </tr>
  <% end %>
</table>